.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
  color: #E0E0E0;
}

.greeting {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.subtext {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.custom-input {
  padding: 0.8rem;
  background-color: #404656;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0 , 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: #E0E0E0;
}

.custom-input::placeholder {
  color: #E0E0E0;
}

textarea.custom-input {
  resize: vertical;
  min-height: 150px;
}

.submit-btn {
  padding: 1rem 2rem;
  background-color: #3C4252;
  color: #E0E0E0;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #4A90E2;
}
