nav {

    display: flex;
    background-color: #1E212B;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;

}

nav ul {
    display: flex;
    align-items: center;
    /* padding: 0 10%; */
    list-style: none;
    font-size: 17px;
    color: #E0E0E0;
}

nav ul li a {

    padding: 0 15px;
    color: #E0E0E0;
    transition: 0.2s;
    text-transform: uppercase;
}

nav ul li a:hover {
    transition: 0.2s;
    color: #52c5ff
}

.nav-link{
    color: #E0E0E0;
}
.nav-link:hover{
    color: #52c5ff;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/* Change color of the toggler icon (the 3 bars) to white */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

